<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover" id="primary-content">
        <h1 class="cover-heading">Files have changed...</h1>
        <p class="lead">Senneku is a webapp that keeps you in control of your files. After uploading a file, we can delete any files that get listed publically, make them self destruct, or allow a certain number of downloads before it goes poof.</p>
        <p class="lead">
          <%= link_to "Let's get started", new_upload_path, class: "btn btn-lg btn-default"%>
          <!--<p style="font-size: 0.2em">(Or just drag a file here...)</p>-->
        </p>
      </div>

    </div>

  </div>

</div>
